body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
.title {
    color: #fff;
    text-decoration: none;
}
header {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: #fff;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

/* Styling navigation */
.navigation {
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #0056b3;
}

/* Styling section */
.main-content {
    padding: 20px;
}

.main-content h2 {
    font-size: 32px;
    color: #343a40;
}

.main-content h3 {
    font-size: 28px;
    color: #343a40;
}

.main-content p {
    margin-bottom: 15px;
}

/* Styling footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

